@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

/* body {
  background-color: black;
  color: white;
} */

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.bg-black {
  background-color: black;
}

.left {
  width: 30vw;
  max-width: 350px;
  padding: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.right {
  width: 75vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.spot-logo {
  width: 100px;
  height: auto;
}

.spot-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 20px;
  list-style: none;
  padding-top: 20px;
  font-weight: 400;
}

.library {
  min-height: 70vh;
  position: relative;
}

.bg-grey {
  background-color: #1f1f1f;
  color: white;
}

.invert {
  filter: invert();
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 5px;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
}

.heading img {
  width: 20px;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 10;
  background-color: black;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
}

.header > * {
  padding: 13px;
}

.nav {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  font-size: 12px;
  gap: 12px;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
  max-width: 85%;
  padding: 10px;
}

.footer a {
  color: grey;
  text-decoration: none;
}

.buttons > * {
  margin: 0 12px;
  font-weight: 500;
}

.signbutton {
  background-color: transparent;
  color: rgb(156, 149, 149);
  border: none;
  outline: none;
  cursor: pointer;
}

.signbutton:hover {
  transform: scale(1.05);
  color: white;
}

.loginbutton {
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 10px;
  width: 80px;
  cursor: pointer;
  border: none;
}

.loginbutton:hover {
  transform: scale(1.05);
  font-weight: bold;
}

.cardcontainer {
  margin-top: 35px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.spotplaylist {
  flex: 1;
  overflow-y: auto;
  background-color: #1f1f1f;
  border-radius: 5px;
  color: white;
  padding: 20px;
}

.spotplaylist h2 {
  font-weight: 400;
}

.card {
  width: 160px;
  height: 230px;
  position: relative;
}

.card .img-container {
  position: relative;
  width: 153px;
  height: 153px;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 153px;
  height: 153px;
  object-fit: cover;
  border-radius: 15px;
  display: block;
}

.songinfo {
  margin-top: 15px;
}

.songinfo p {
  margin-top: 8px;
}

.card .img-container:hover .play {
  opacity: 1;
  bottom: 13px;
  transform: translateY(0);
}

.card .img-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  transition: all 0.4s ease;
}

.card .img-container:hover::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.songtitle {
  font-weight: 300;
  font-size: large;
}

.songdesc {
  font-weight: 100;
  font-size: medium;
}

.play {
  width: 48px;
  height: 48px;
  background-color: #1fdf64;
  border-radius: 50%;
  position: absolute;
  right: 13px;
  bottom: -13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.4s cubic-bezier(0.1, 0.8, 0.3, 1);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}

.play img {
  width: 24px;
  height: 24px;
  position: relative;
  left: 2px; /* Add an offset to center the play icon*/
}

.playbar {
  position: sticky;
  bottom: 12px;
  padding: 16px;
  background-color: #1f1f1f;
  width: 72.5vw;
  border-radius: 5px;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.songbuttons .playbut {
  transform: scale(1.2);
}

.songlist ul {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 25px 10px;
}

.songlist li {
  list-style-type: decimal;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: small;
  margin-left: auto;
}

.songlist li img {
  width: 20px;
}
